body{
    background-image: url(./images/apart6.jpg);
    background-size: cover;

}
nav.o{
    display: flex;
    justify-content: space-between;
   
    
    
    
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}
ul li{
    list-style: none;
    margin-left: 62px;
    font-size: 14px;
    margin-top: 27px;

}
main{
content:bold ;
font-size: larger;
font-family: Arial, Helvetica, sans-serif;
flex: auto;
font-display: 20px;
font-weight: bold;
color: black
}
