tr:nth-child(even) {background-color: aqua;}
th:nth-child(even) {background-color: brown;}

tr:hover {background-color: aliceblue;}
table{

    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    border-collapse: collapse ;
  border-style: double;
  border:5px solid black;
}
tr,th {
   
    width: 70px;
    padding: 6px;
    text-align: left
    
}
tr, td{
    width: 70px;
    padding: 6px;
    text-align: center;
}
