body{
    background-color: aqua;
}
body h1{
color: blueviolet;
}
.form{
    padding: 27px;
    position: absolute;
    width: 200px;
    height: 200px;
    left: 78px;
    top: 78px;
    border-radius: 10px;
    background-color: brown;

}